<!DOCTYPE html>
<html>
<head>
<title>Admin Login</title>
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
{% load static %}
</head>

<body>

{% include 'navigation.html' %}

<section class="bg-light p-3 p-md-4 p-xl-5">
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-xxl-10">

<div class="card shadow-sm">
<div class="row g-0">

<!-- Left Image -->
<div class="col-md-6">
<img src="{% static 'images/logo-img-1.webp' %}" class="img-fluid w-100 h-100 object-fit-cover">
</div>

<!-- Right Form -->
<div class="col-md-6 d-flex align-items-center">
<div class="card-body p-4">

<h3 class="text-center mb-4">Admin Sign In</h3>

{% if messages %}
{% for message in messages %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}
{% endif %}

<form method="POST" action="{% url 'admin_login' %}">
{% csrf_token %}

<div class="form-floating mb-3">
<input type="text" name="username" class="form-control" placeholder="Username" required>
<label>Username</label>
</div>

<div class="form-floating mb-3">
<input type="password" name="password" class="form-control" placeholder="Password" required>
<label>Password</label>
</div>

<div class="d-grid">
<button class="btn btn-dark btn-lg">Admin Login</button>
</div>

</form>

</div>
</div>

</div>
</div>

</div>
</div>
</div>
</section>

</body>
</html>