{% extends 'navigation.html' %}
{% load static%}

{% block body %}

<!-- HERO -->
    <div class="hero">
        <div class="left-section">
            <h1>Find the perfect<br>freelance services for your business</h1>
            <input type="text" placeholder="What are you looking for?">
            <button>Search</button>
        </div>

        <div class="right-section">
            <div class="image-box">
                <img src="{% static 'images/trialhome1.jpg' %}" class="img img1">
                <img src="{% static 'images/trialhome2.jpg' %}" class="img img2">

                <div class="card card1">Proof of quality</div>
                <div class="card card2">Happy Clients</div>
            </div>
        </div>
    </div>

    <!-- JOBS -->
    <section class="jobs">
        <div class="job-card">Software Developer</div>
        <div class="job-card">Data Analyst</div>
        <div class="job-card">Web Designer</div>
        <div class="job-card">Python Developer</div>
        <div class="job-card">ML Engineer</div>
        <div class="job-card">Backend Developer</div>
    </section>    
{% endblock %}
